


/*Caja de página Historia Clinica*/

.caja-historiaclinica {
    font-size: larger;
    color: aliceblue;
    background-color:rgb(4, 0, 255);
    width: auto;
    height: auto;  

    margin: 0,625rem 3,125rem 6,25rem 1rem;

    padding: 50px;


    border: solid 5px rgb(3, 53, 153);

    text-align: start;

}