




/*Cajas de pagina mis estudios*/
.caja-estudios {
    margin: 1rem 3,125rem 6.25rem 1rem;

    font-size: larger;
    color: aliceblue;
    background-color:rgb(4, 0, 255);
    width: auto; 
    height: auto;  



    padding: 3,125rem;


    border: solid 5px rgb(3, 53, 153);
}

