





/*Padre Cajas de la página trurnos online */
.padre-cajas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    
}

/*caja con obra social (pagina de trunos online)*/
.caja-turnos {
    
    color: #fff;
    background-color: rgb(0, 94, 234);
    width: 31,25rem;
    height: 11,25rem;
    margin: 3,125rem 0,625rem 0,625rem 0,625rem;
    padding: 5rem;
    text-align: center;
    margin: 2rem;

    border: solid 5px rgb(0, 0, 0);
}

/*caja sin obra social (pagina de trunos online)*/
.caja-turnos2 {
    color: #fff;
    background-color: rgb(0, 55, 137);
    width: 31,25rem;
    height: 11,25rem;
    margin: 3,125rem 0,625rem 0,625rem 0,625rem;
    padding: 5rem;
    text-align: center;
    margin: 2rem;

    border: solid 5px rgb(0, 0, 0);
}

